<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="form.css">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/form.css' %}">
	  <title>智慧化廚餘黑水虻媒合平台</title>
	</head>

	<body>
		<div id="sitebody">
		<div id="header">header</div>
		<div id="sidebar_left">sidebar_left</div>
		<div id="content">content</div>
		<div id="sidebar_right">sidebar_right</div>
		<div id="footer">footer</div>
		</div>
	</body>
</html>