<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap-4.3.1-dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/form.css' %}"/>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'css/bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>  

    <title>智慧化廚餘黑水虻媒合平台</title>
        
    </head>
    
    <body>
            <div id="sitebody">
                    <div id="header">智慧化廚餘黑水虻媒合平台</div>
            
                    <!--start left-sidebar-->
            
                    <div id="sidebar_left">
            
                        <div class="btn">
                          <p></p>
                        </div>
            
                        <div class="btn">
                          <a href="">首頁</a>
                        </div>
            
                        <div class="btn">
                          <a href="">媒合平台</a>
                        </div>
            
                        <div class="btn">
                          <a href="">黑水虻戶登入</a>
                        </div>
                    </div>
                    <!--/ left-sidebar-->
        
                    <div id="content">

                        <div class="container">
                
                    <!-- this is a simple nav bar for selecting between images -->
                                

        <!--list with no order-->
        
        <ul class="">
            <!--<li rel="stylesheet" href=".css"><a ></a></li>-->
            <p>
            </p>

        </ul>

        <!--principle content-->

        <div style="background-position: center;" width="92%" border="0" align="left">
          <h1>習性益處</h1>
          <p>
              黑水虻幼蟲能以廚餘或畜禽糞便等農牧廢棄物為食，轉化為蟲體蛋白質。取食量大，一隻幼蟲在成長過程，約可以處理廚餘或農牧廢棄物2～3公斤，黑水虻能夠有效地減少糞便、廚餘堆積，降低垃圾對環境的污染。
              黑水虻的糞便可以做有機肥，牠本身更是可以做為動物飼料中蛋白質來源，可餵食雞、牛、豬、魚等，大部分的禽畜動物喜歡取食。黑水虻相較市面上充當畜牧飼料蛋白質的骨粉、魚粉，更為安全，不會造成海洋資源枯竭或是牲畜感病的風險。黑水虻幼蟲可以在水中生存，還可為水產養殖的活體餌料。
              黑水虻之生命週期大約為28天：卵期約為3～4天，幼蟲期則有18天左右。成蟲口器退化，僅靠『水』維繫生命，也不會騷擾人類。牠交配、產卵完不久便死亡，一隻水虻一次可產800到1000個卵。
          </p>
          </div>

        <div style="background-position: center;" width="92%" border="0" align="left">
          <h1>飼養方法</h1>
          <p>
              其飼養方法如下：
              黑水虻的關鍵技術是「蟲卵的取得」及「廚餘的防臭」
              以下為養殖黑水虻所需使用到的用具及注意事項:
              設備：黑水虻的飼養場地，最好光線直射充足，通風良好的地方。需有成蟲交配網產卵網室，及防鼠的幼蟲飼養室。台灣可周年飼養。
              廢棄物前處理：首先須確認無有害或是非有機物質，再把餐廚垃圾用粉碎機粉碎。若粉碎後的飼料含水過高，可先濾乾至含水率60~70%，也可用鋸木屑或麥麩調濕度約60%左右。此外，廚餘會發臭，用環境益生菌加在廚餘、豆渣中，可除臭。
              幼蟲飼養（廢棄物處理）:剛剛孵化的小幼蟲體色為乳白色，逐漸長大變灰白、褐色、黑褐色，將蟲苗移到幼蟲飼養盒，餵食生物廢棄物。此區，幼蟲取食生物廢棄物，長大成大型幼蟲，進而消耗廢棄物。
              成品收成:在快要變成前蛹時，從幼蟲飼養盒中收取幼蟲。飼養盒中的殘餘物，本身也是有價值的產物
              成蟲飼養（10天）：蛹期須有乾草堆供其羽化。成蟲只要植物和水。黑水虻成蟲飼養是整個黑水虻養殖配套技術的關鍵。只有養好成蟲，才能獲得大量的蟲卵。
              成蟲室及產卵箱製做:黑水虻成蟲期會飛翔，所以要有防逃設施。寬2米長3米高2米立體架子，外面套上泥龍網或鐵窗沙，留一個便於人員出入的門。內部放一張接卵桌，項部接裝自動噴霧器（手壓式也可）。桌上放一個或多個誘集收卵盤，在自然光下（成蟲交配需要太陽光的刺激），太陽光可遮蔭的30～40%，成蟲期不吃食，只需要植物葉片上的水分。
              產卵工具：瓦楞紙或珍珠板製成集卵器，放在飼養桶飼料上方10公分處。
              孵化期（4天）把卵塊放置在少量飼料之容器進行孵化。
              
              培養箱：養殖箱可以用二格籃，上置細紗布，便於通氣排除多餘水份。        
          </p>
        </div>
        
        <div style="background-position: center;" width="92%" border="0" align="left">
            <h1>使用方式</h1>
            <p>
                直接投餵 ；
                製漿處理 : 將黑水虻幼蟲經過清洗、消毒後之絞碎、打漿處理，製成可供水產直接之飼料食糜，縮小體積並方便運輸
                烘乾蟲體 : 使用脫水烘乾法(烘烤、微波等方式)，乾料可做為鼠類之直接飼料，或作為飼料添加劑供豬、雞、牛、羊等牲畜食用，缺點為能源之耗費較高
                蟲粉製作 : 作為魚粉及豆粕之優良替代方案
            </p>
          </div>

        <li></li>

    </body>

</html>
